<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link rel="shortcut icon" href="https://cdn2.iconfinder.com/data/icons/japan-flat-2/340/wave_ocean_sea_water_surf_splash-512.png" type="image/x-icon">
    <link rel="stylesheet" href="/style/style.css">''
</head>
<body>
    <div class="container">
        <div class="login">
            <h1>Welcome to ChatWave</h1>
            <form action="/login" method="post">
                <input class="name" name="name" type="text" placeholder="Enter name">
                <button type="submit" class="login-btn">Login</button>
            </form>
        </div>
    </div>
</body>
<script src="script/login_script.js"></script>
</html>